
body {
  margin: 0;
  padding: 0;

  background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("krpic/photo_2026-01-17_14-25-18.jpg");

  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  font-weight: bold;
  color: white;
}

.divbox{
    width:95%;
    height: auto;
    position: relative;
    top:20px;
    left:10px;
    border-radius: 20px;
    overflow-y:auto;
}
.glass-panel {
  position: static;
  top: 110px;
  left: 25px;
  right:25px;
  width: auto;
  height: 100%;
  
  padding: 30px;
  overflow-y: auto;         
  margin-top: 0;
  background: rgba(255, 255, 255, 0.177);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);

  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.3);
  z-index: 1;
  justify-content: center;

}
.glass-box{
  position: absolute;
  top: 700px;
  right:30px ;
  width: 30%;
  height: auto;

  padding: 30px;
  overflow-y: auto;         

  background: rgba(255,255,255,0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.3);
  z-index: 2;
  justify-content: center;

}

.nava {
  display: flex;
  gap: 40px;
  padding: 0px 50px;
  list-style: none;
  margin: 0;


  color: white;
  font-size: 30px;
}
.n:hover{
  background-color: white;
  color: black;
  cursor:pointer;

}
.navimg {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;/* best for the logo*/
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 120px;

  background-color: black;
  border-color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;
  z-index: 4;
}

.line {
  width: 100%;
  height: 55px;
  background-color: black;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 30px;
}





.big-title{
  text-align: center;
  right:50%;
  position: static;
    font-size:55px;
    color:white;   
}
.content{ 
    font-size:30px ;
    color:white;
}
.drag-box {
  position: absolute;
  top: 60px;
  left: 60px;

  width: 380px;
  padding: 25px;

  background: rgba(255,255,255,0.35);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);

  cursor: move;
  z-index: 5;
}
/* whole section */
.content-section {
  
  margin-top: 50px;
}


/* black line */
.section-line {
  width: 100%;
  height: 55px;
  background-color: black;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
}
.section-line2 {
  width: 100%;
  height: 55px;
  background-color: black;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
}

/* row layout */
.section-row {
  display: flex;
  gap: 30px;

  border-radius: 20px;
  margin-top: 30px;
}

/* text box */
.section-text {
  width: 60%;
  padding: 25px;

  background: rgb(0, 0, 0);
  
  border-radius: 20px;
    backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(10px);


  color:rgb(232, 232, 232);
  font-size: 30px;
  text-overflow: clip;
}

/* image box */
.section-image {
  width: 35%;
}

.section-image img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.content-section2 {
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  padding-left:50px;
}
.section-img2 {
  width: 40%;
  height: auto;
  border-radius: 50px;
  object-fit: cover;
}
.ulli{
  list-style: none;
  padding:10px;
  font-size: 20px;
  text-decoration: none;
  text-emphasis-color: white;
}
.content-section3
{
  background-color: black;
  color: white;
  font-size: 30px;
  font-weight: 200;
  border-color:white ;
  width: 100%;
  height:50px
}